/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo, .sidenav {
  color: #444;
  font-family: "Lobster", serif;
}

#index-banner {
  font-family: "Raleway", serif;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #444;/*#26a69a;*/
}

.fontinc{
  font-size: 17px;
}

.fontinc2, #fontinc3 {
  font-size: 20px;
}

.home-text {
  color: #e76f51; /*#e9c46a;*/
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-mobile {
  width: 100%;
  height: 100%;
}

#cv {
  margin-top: 4%;
  line-height: 2rem;
}

#cv li, #orari li {
  list-style-type: disc;
  list-style-position: inside;
}

.servizio-icons {
  margin-top: 20px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .logo-desktop, .img2-mobile {/*.navbar-fixed, */
    display: none;
  } 
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .img2-desktop {
    display: none;
  }
  .img2-mobile {
    display: initial;
  }
  #titolo {
    margin-bottom: 6%;
  }
  #sottotitolo {
    margin-top: -4%;
  }
  #download-button {
    margin-top: -2%;
  } 
}

@media only screen and (min-width : 992px) {  
  .logo-mobile, .img2-mobile {/*.navbar-unfixed, */
    display: none;
  }
  #titolo {
    margin-top: 1%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#footer-1 {
  background-color: #264653;
}

.footer-text {
  color: #f4a261;
}

#footer-2 {
  background-color: #325d6e;
}

#download-button2 {
  width: 100%;
}

#download-button3 {
  margin-top: 3%;
}

#indicazioni, #orari {
  line-height: 1.5rem;
}

.text-hover:hover{
  text-decoration: underline;
}

.icon-hover:hover{
  color: orange; /*#0645AD;*/
}
